@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-capitalize text-black">Welcome to Pizzeria</h1>
    <div class="mainText">
    <img class="mainImage" src="~/images/Welcome.jpeg" />
    <h3> Party Means Pizzzzasss!!!</h3><br/>
    </div>


    <a class="btn btn-primary mt-1" asp-area="" asp-page="Pizzeria">Let's get the party started</a>


</div>

